<footer class="content-info" role="contentinfo">
    <div class="footer-container">
        <div class="sitemap footer-container__section">
            <h3>{{ site_map_title }}</h3>
            <div class="category-list-footer">
                {{ include('partials/footer_links.twig', {map: page_map}) }}
            </div>
        </div>
        <div class=" services footer-container__section">
            <h3>{{ service_title }}</h3>
            <div class="category-list-footer">
                {{ include('partials/footer_links.twig', {map: service_map}) }}
            </div>
        </div>
        <div class="contact footer-container__section last">
            <h3 class="contact__title">{{ contact_title }}</h3>
            {{ include('partials/address.twig') }}
        </div>
    </div>
</footer>