<header class="banner" role="banner">
    <div role="menu-open" class="burger-menu">
        <div class="lines"></div>
    </div>
    <div class="header-image {% if non_home_mobile_page %} 'hide-header' {% endif %}">
        <nav role="navigation" class="navbar">
            {% if has_nav_menu %}
                <div id="bs-example-navbar-collapse-1" class="main-menu-container">
                    <ul class="main-menu">
                        {% for item in menu.get_items %}
                            <li class="nav-main-item {{ item.classes | join(' ') }}">
                                <a class="nav-main-link" href="{{ item.get_link }}">{{ item.title }}</a>
                                {% if item.get_children %}
                                <ul class="sub-menu">
                                    {% for child_item in item.get_children  %}
                                        <li class="sub-menu__item {{ child_item.class }}">
                                            <a class="sub-menu-link" href="{{ child_item.get_link }}">{{ child_item.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </nav>


        {% if home_page_on_mobile_or_tablet == true %}
            <div class="mobile">
                <div class="site-logo-title-wrap">
                    <div class="site-logo"></div>
                    <h1 class="site-title">{{ title }}</h1>
                </div>
                <h2 class="site-description">{{ description }}</h2>
            </div>
        {% else %}
            <div class="desktop">
                <div class="site-logo-title-wrap">
                    <div class="title-background">
                        <div class="title-description-wrap">
                            <div class="site-logo"></div>
                            <h1 class="site-title">{{ title }}</h1>
                            <h2 class="site-description">{{ description }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</header>