<div class="row sub-header">
    <p class="sub-header__title">Více než pětiletá zkušenost</p>
    <p class="sub-header__title">Seriozni jednani a spolehlivost</p>
    <p class="sub-header__title">Kvalitni, odpovedna a cista prace</p>
    <p class="sub-header__title">Zkušenosti s různýmy typy stromů v různorodých podmínkách</p>
</div>
<div id="home-page" class="content-area">
    <div id="content" class="site-content container home-page" role="main">

        <div class="row">
            {% for pid, hero in index_posts %}
                <div class="col-md-4 hero-service-card">
                    <div class="thumbnail">
                        {{ hero.thumbnail }}
                        <div class="caption">
                            <h3>{{ hero.title }}</h3>
                            <p>{{ function('wp_trim_words', __(hero.content), 40) }}</p>
                            <p><a href="{{ function('get_page_link', pid) }}" class="btn btn-primary" role="button">{{ link_label }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="home-page-post">
            {{ post.post_content }}
        </div>

    </div><!-- #content -->
</div><!-- #primary -->

