<div class="post-content references-content">
    <section id="references" class="references" data-post-id="{{ post_id }}" data-ref-count="{{ ref_count }}">
        {% for reference in references %}
            <div class="reference">
                {% if reference.client_logo %}
                    <img class="reference__client-logo" src="{{ reference.client_logo.sizes.medium }}"/>
                {% endif %}
                <h3 class="reference__client-name">{{ reference.client_name }}</h3>
                <div class="reference__content">{{ reference.text_reference }}</div>
            </div>
        {% endfor %}
    </section>
    <img id="spinner" class="reference__spinner hide" src="{{ spinner }}"/>
    <button id="next" class="next-button">Dalsi Reference</button>
</div>
{% raw %}
    <script id="references-tmpl" type="x-tmlp-mustache">
        <div class="new-references">
        {{ #references }}
            <div class="reference">
                {{ #client_logo }}
                    <img class="reference__client-logo" src="{{ client_logo.sizes.medium }}"/>
                {{ /client_logo }}
                <h3 class="reference__client-name">{{ client_name }}</h3>
                <div class="reference__content">{{ &text_reference }}</div>
            </div>
        {{ /references }}
        </div>
    </script>
{% endraw %}

